root=true
[*.cs]

indent_size = 4
indent_style = space
tab_width = 4

end_of_line = crlf
insert_final_newline = false 

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

csharp_space_after_comma=true
csharp_space_after_semicolon_in_for_statement=true
csharp_indent_block_contents=true

 
 
dotnet_diagnostic.IDE0009.severity = error

dotnet_diagnostic.IDE0036 = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:error
dotnet_diagnostic.IDE0036.severity=error


dotnet_diagnostic.IDE0040=always
dotnet_diagnostic.IDE0040.severity=error


dotnet_diagnostic.IDE0044.severity=error

dotnet_diagnostic.IDE0062.severity=error

dotnet_diagnostic.IDE0064.severity=error

dotnet_diagnostic.IDE0048.severity=warning

dotnet_diagnostic.IDE0010.severity=error

dotnet_diagnostic.IDE0033.severity=error

dotnet_diagnostic.IDE0039.severity=error

dotnet_diagnostic.IDE0031.severity=error

dotnet_diagnostic.IDE0041.severity=error

dotnet_diagnostic.IDE1005.severity=error

dotnet_diagnostic.IDE0019.severity=error

dotnet_diagnostic.IDE0038.severity=error

dotnet_diagnostic.CS0162.severity=error

dotnet_diagnostic.IDE0051.severity=error

dotnet_diagnostic.IDE0052.severity=error

dotnet_diagnostic.IDE0058.severity=error

dotnet_diagnostic.IDE0059.severity=error

dotnet_diagnostic.IDE0060.severity=error

dotnet_diagnostic.IDE0079.severity=error

dotnet_diagnostic.IDE0080.severity=error

dotnet_diagnostic.IDE1006.severity=error



dotnet_naming_rule.camel_case_for_private_internal_fields.severity = suggestion
dotnet_naming_rule.camel_case_for_private_internal_fields.symbols  = private_internal_fields
dotnet_naming_rule.camel_case_for_private_internal_fields.style    = camel_case_underscore_style
dotnet_naming_symbols.private_internal_fields.applicable_kinds = field
dotnet_naming_symbols.private_internal_fields.applicable_accessibilities = private, internal
dotnet_naming_style.camel_case_underscore_style.required_prefix = _
dotnet_naming_style.camel_case_underscore_style.capitalization = camel_case 